@import '~react-toastify/dist/ReactToastify.css';

:root {
  --height-toolbar: 64px;

  /* Toast colors */
  --toastify-color-success: #1da522;
  --toastify-color-info: #3eb1c8;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #9f2a1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

.App {
  /* margin-top: var(--height-toolbar); */
  height: calc(100vh - var(--height-toolbar)) !important;
}

.logo_brand {
  width: inherit;
  height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo_brand_small {
  width: 32;
  height: 32;
}
